@use "sass:list";

@function shadow($expanded, $shiny, $shadows, $colors) {
	$shadow: list.nth($shadows, 1);
	$color: list.nth($colors, 1);

	@if ($expanded) {
		$shadow: list.nth($shadows, 2);
	}

	@if ($shiny) {
		$color: list.nth($colors, 2);
	}

	@return drop-shadow($shadow $color);
}

@function convertFontSize($text-size, $scale) {
	@return calc($scale / ($text-size / 1em)) * 1px;
}
