@use "variables";
@use "sass:list";

@function shadow($expanded: false, $shiny: false) {
	$shadow: variables.$shadow-resting;
	$color: variables.$shadow-color-regular;

	@if ($expanded) {
		$shadow: variables.$shadow-expanded;
	}

	@if ($shiny) {
		$color: variables.$shadow-color-shiny;
	}

	@return drop-shadow($shadow $color);
}

@function convertFontSize($text-size, $scale) {
	@return calc($scale / ($text-size / 1em)) * 1px;
}
