@use "variables";

:root {
	font-size: 20px;
}

@each $elem in variables.$header-elems {
	#{$elem} {
		font-family: variables.$header-font;
	}
}

@each $elem in variables.$text-elems {
	#{$elem} {
		font-family: variables.$text-font;
	}
}
