@use "sass:color";
@use "variables";

.pkmn-name-header {
	text-align: center;
	text-transform: capitalize;

	&.shiny {
		color: goldenrod;
	}
}

.pkmn-genus-header {
	text-align: center;
	font-size: 1.1em;
}

img.artwork {
	width: 17.5vw;
	margin: 10px auto;
	text-align: center;
	transition: 300ms;

	&.regular {
		filter: drop-shadow(variables.$shadow-resting variables.$shadow-color-regular);
		&:hover {
			filter: drop-shadow(variables.$shadow-expanded variables.$shadow-color-regular);
		}
	}
	&.shiny {
		filter: drop-shadow(variables.$shadow-resting variables.$shadow-color-shiny);
		&:hover {
			filter: drop-shadow(variables.$shadow-expanded variables.$shadow-color-shiny);
		}
	}
}

.stats {
	margin-top: 20px;
	margin-left: 5%;
	margin-bottom: 20px;
	font-size: 0.9em;
	min-width: 350px;
}

.stat-title {
	text-transform: capitalize;
}

.stat-bar {
	text-align: right;
	text-shadow: 1px 1px 3px black;
	box-shadow: 2px 2px 7px black;
	transition: 450ms;
	min-width: 30px;
	max-width: 450px;
	margin: 6px 0px 6px 12px;
	padding: 2px 5px 2px 0px;
	border-radius: 3px;
	color: whitesmoke;
}

.dex-entries {
	margin-top: 5%;
	margin-left: 20%;

	p {
		min-height: 120px;
		max-height: 120px;
	}
}

.entry-buttons {
	text-transform: capitalize;
	height: 275px;
	width: 400px;
	overflow: hidden scroll;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background: rgba(164, 168, 199, 0.15);

	button {
		@function convertFontSize($text-size, $scale) {
			@return ($scale / ($text-size / 1em)) * 1px;
		}

		$entry-btn-text-size: 1em;
		$entry-btn-size: convertFontSize($entry-btn-text-size, 170);

		font-size: $entry-btn-text-size;
		min-width: $entry-btn-size;
		max-width: $entry-btn-size;

		margin: 8px;

		&.highlight {
			$highlight-color: rgb(82, 56, 230);

			background-color: $highlight-color;
			color: color.scale($color: $highlight-color, $lightness: 85%);
			border-color: color.scale($color: $highlight-color, $lightness: 80%);
		}
	}
}
