.list-group {
	height: 60vh;
	overflow-y: scroll;
}

.pokemon-list-item {
	cursor: pointer;
	user-select: none;
	text-transform: capitalize;

	img.sprite {
		width: 70px;
		transition: filter 0.33s;
	}

	h5 {
		transition: color 200ms;
	}

	&:hover img.sprite {
		filter: brightness(1.1);
	}

	&.reg {
		&:hover h5 {
			color: #6c6aea;
		}

		img.sprite {
			filter: drop-shadow($shadow-resting $shadow-color-regular);
		}

		&:hover img.sprite {
			filter: drop-shadow($shadow-expanded $shadow-color-regular);
		}
	}

	&.shiny {
		&:hover h5 {
			color: #ffcc00;
		}

		img.sprite {
			filter: drop-shadow($shadow-resting $shadow-color-shiny);
		}
		&:hover img.sprite {
			filter: drop-shadow($shadow-expanded $shadow-color-shiny);
		}
	}
}
