.pkmn-name-header {
	text-align: center;
	text-transform: capitalize;

	&.shiny {
		color: goldenrod;
	}
}

img.artwork {
	width: 400px;
	margin: 10px auto;
	text-align: center;
	transition: 300ms;

	&.regular {
		filter: drop-shadow($shadow-resting $shadow-color-regular);
		&:hover {
			filter: drop-shadow($shadow-expanded $shadow-color-regular);
		}
	}
	&.shiny {
		filter: drop-shadow($shadow-resting $shadow-color-shiny);
		&:hover {
			filter: drop-shadow($shadow-expanded $shadow-color-shiny);
		}
	}
}

.stats {
	margin: 20px 8%;
	font-size: 0.9em;
	min-width: 350px;
}

.stat-title {
	text-transform: capitalize;
	font-family: $text-font;
}

.stat-bar {
	text-align: right;
	text-shadow: 1px 1px 3px black;
	box-shadow: 2px 2px 7px black;
	transition: 450ms;
	min-width: 25px;
	margin: 4px 0px 4px 12px;
	padding: 2px 5px 2px 0px;
	border-radius: 3px;
	color: whitesmoke;
}

.dex-entries p {
	min-height: 60px;
	max-height: 120px;
}

.entry-buttons {
	text-transform: capitalize;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	overflow-x: scroll;
	width: 500px;

	button {
		// 1em = 150px
		$entry-btn-text-size: 1em;
		$entry-btn-size: (150 / ($entry-btn-text-size / 1em)) * 1px;

		font-size: $entry-btn-text-size;
		min-width: $entry-btn-size;
		max-width: $entry-btn-size;

		margin: 8px;
	}
}
