.list-group {
	height: 60vh;
	overflow-y: scroll;
}

.pokemon-list-item {
	cursor: pointer;
	user-select: none;
	text-transform: capitalize;

	&:not(.active):hover {
		filter: brightness(0.8);
	}

	img.sprite {
		width: 70px;
	}

	h5 {
		transition: color 200ms;
	}
}
