@use "sass:list";

.icon {
	height: 100px;
	width: 100px;
	border-radius: 100%;
	margin: auto;
	transition: 200ms all;

	&:hover {
		filter: saturate(200%);
		transform: scale(1.1);
		cursor: pointer;
	}

	img {
		height: 60%;
		width: 60%;
		margin: 20%;
	}
}

@each $type in $type-names {
	$type-color: list.nth($type-colors, list.index($type-names, $type));
	.#{$type} {
		background-color: $type-color;
		box-shadow: 0 0 20px $type-color;
	}
}
