@use "variables";

@mixin uniform-size($s) {
	height: $s;
	width: $s;
}

.icon {
	@include uniform-size(100px);
	border-radius: 100%;
	margin: auto;
	transition: 200ms all;

	&:hover {
		filter: saturate(200%);
		transform: scale(1.1);
		cursor: pointer;
	}

	img {
		@include uniform-size(60%);
		margin: 20%;
	}
}

@each $name, $color in variables.$types {
	.#{$name} {
		background-color: $color;
		box-shadow: 0 0 20px $color;
	}
}
